# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

# https://docs.travis-ci.com/user/encryption-keys/
env:
  global:
    # WIRE_WEBAPP_BOT_EMAIL
    - secure: "lDNwgwVMAU5YJJ9beATPfRqRHhHpU647XFEObTjrR2mpKIfIvAd2jY9imK2xHfVKdqJdEGSFy/FkWTuzaeawyE3F9iPEt+twAF+xos6EA8G3M2Aj2HVO4EjSFwHkKC7XYcOikCzT1j+MpXbYJvZY4K8r2TmQ97yeYrvwjgavFkQrH3VffiPV+v30Uh94uL6kPv+HcdzjQMM3II8Qd7C016c3xMHYHNhB+bEmMaCOd2P6zFGgDBPYh72lU61wjwwWrVl54OOAXUxqqkodmEVSCp7xWnx/8xbu3cYjDxHyG5MFBEA2nJapfqiHFrA/XL5yaLc5EV3DtGTQmeNDkpgRscheerqEyWnPI41R7qYJMke1rom1d0CoSlR0AGXwe1t40Be3GO2OW8/Buiuvx1VuNqQM/swR+oe0VPf9QI5XzbtIyQdfKKU4ZUOUKX5O/TnDGAlHgavZm+va3FEBbFfG2ScGLd36ZEBpll1CUSulIjsmWg3GF5NOZiUThHdoD2BfFaOGMHjTkKxkK1IpxlARxqJmZUeMdMbm9OJLnkJuB9cta34BDhKgAuDhXLQsEjs55y5usU7iCrIubl1kjFTvvvBC1ngEBnPJzFciZQ4Jww49N5JacpzDqDtpmUxdCqk3vjl17b/1gF66P1wRqTQgnuJw9RVPzZ8y3727jEuObxw="
    # WIRE_WEBAPP_BOT_PASSWORD
    - secure: "uWt2xiLp6PQgiilYAvaAGj5sjQxhZQTYNDN2YbOCMEj/+Lp2KHnhtZW+QkCK+CtBwu/cIuHJtLMOXoK4gekdgapNmG1jTTfJmb/xw8zaV/AQuOQLOVpZ2yZgjbtZN0YeweWqKU78v32/qGUx0aFs9CLS6Bo6Y3COMlKB8PfUfH+2CmxLzOfwAVHpYC+VEH+WM6ODBZlnaTIUmOH2PCQSp2kEgKanmwRZwoGjOvjv9xENSxrFn0M9/vsp8qblLky7AyQW/IERoQi8U8PIDnf/0SbpBcGEynVBMo2XDDUoANGTEBnwbc5j6KmrnIZsw5VT6xVNJpVRiG6kLVbQmDS05zPPaPJqykYIlhC6pnXYSZ6aGs1hMLiJ/hvhZYLhNa83fjgHigsYouKza2PRcoyk+GXlboCPQW0gduWUtd0kYpuRtAh9VT9EoLiLh1U86wZHZTEEFwXHLhLc5IPeMvS1g4QYjc5ODlmudgWslgWum1Lc4nLJr+yTZXW9A9t3kWC8V+dyMCM76xiedaiIGPKZBRKq2kp43JgGr4aLjiuQMtpWQGwAxaKushmfMQX4GfBGq7AwI/MDyY4cqyzwDiJ6JdjtdDvuPoXpjLlsEFYvu1j2l7csN1bC474Ym9i+n0g1peMohyNqkszVVSixivG2Lgz3ZwE0QP5Duu37sKIb1TE="

# http://docs.travis-ci.com/user/languages/javascript-with-nodejs/
language: node_js
node_js:
  - "10"

# https://docs.travis-ci.com/user/languages/c/#build-matrix
matrix:
  include:
    - os: windows
      # Travis' Windows Env doesn't support a Python language.
      language: shell
      env:
        # We can only support up to Python 3.6.6, because our SFML-2.3.2 and Python 3.6.6 are compiled against VS14 (2015).
        - PYTHON_VERSION=3.6.6
        - PYTHON_HOME='C:\Python36'
        - VS14_BIN='C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin'
        - PATH="C:\ProgramData\chocolatey\bin;$PYTHON_HOME:$PYTHON_HOME\Scripts:$VS14_BIN:$PATH"

git:
  submodules: false

cache:
  directories:
    - $HOME/.npm
    - node_modules
    - electron/node_modules

before_install:
  - eval "${MATRIX_EVAL}"

install:
  - npm install

# http://docs.travis-ci.com/user/pull-requests/
script:
  - npm test

notifications:
  email: false

branches:
  only:
    - master

after_success:
- |
  if [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    yarn global add @wireapp/changelog-bot@1.0.35
    wire-travis-bot "46b53eba-65da-4bdc-b521-2467b96e8841"
  fi
