[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wire
Comment=Modern communication, full privacy.
Exec=wire-desktop
Icon=wire-desktop
Terminal=false
StartupNotify=false
Categories=Network;InstantMessaging;X-Fedora;
