.UpdaterContainer {
    height: 100%;
    width: 100%;
}
.UpdaterContainer .updater-bar-resize {
    height: calc(100% - 38.5px);
}
.UpdaterContainer .updater-bar-no-resize {
    height: 100%;
}

.UpdaterContainer .updater-freeze-hidden {
    display: none;
}
.UpdaterContainer .updater-freeze {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    -webkit-filter: grayscale(100%) blur(2px);
    filter: grayscale(100%) blur(2px);
    opacity: 0;
}

.UpdaterContainer .updater-bar {
    background-color: #18191b;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .2);
}
.UpdaterContainer .updater-bar.updater-bar-connection {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    height: 38.5px;
    justify-content: center;
}
.UpdaterContainer .updater-bar a,
.UpdaterContainer .updater-bar a:hover,
.UpdaterContainer .updater-bar a:active {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}
.UpdaterContainer .updater-bar .updater-bar-message {
    display: flex;
    align-items: center;
}
.UpdaterContainer .updater-bar .updater-bar-close {
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -14px;
}
.UpdaterContainer .updater-bar .updater-bar-icon {
    font-size: 32px;
    margin-right: 8px;
}