.UpdaterContainer {
    height: 100%;
    width: 100%;
}
.UpdaterContainer .updater-bar-resize {
    height: calc(100% - 32px);
}
.UpdaterContainer .updater-bar-no-resize {
    height: 100%;
}
.UpdaterContainer .updater-bar {
    background-color: var(--graphite);
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
}
.UpdaterContainer .updater-bar .updater-bar-feature {
    height: 64px;
}
.UpdaterContainer .updater-bar .updater-bar-connection {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    height: 32px;
    justify-content: center;
}
.UpdaterContainer .updater-bar a {
    cursor: pointer;
}
.UpdaterContainer .updater-bar .updater-bar-message {
    display: flex;
    align-items: center;
}
.UpdaterContainer .updater-bar .updater-bar-close {
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -14px;
}
.UpdaterContainer .updater-bar .updater-bar-icon {
    font-size: 32px;
    margin-right: 8px;
}
.UpdaterContainer .updater-bar .updater-bar-link,
.UpdaterContainer .updater-bar .updater-bar-link:hover,
.UpdaterContainer .updater-bar .updater-bar-link:active {
    color: #fff;
    text-decoration: underline;
}