<plist version="1.0">
<dict>
  <key>ElectronTeamID</key>
  <string>EDF3JCE8BC</string>
  <key>NSContactsUsageDescription</key>
  <string>Allow Wire to access your contacts to connect you with others. We anonymize all information and do not share it with anyone else.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Allow Wire to access your microphone so you can talk to people and send audio messages.</string>
  <key>NSCameraUsageDescription</key>
  <string>Allow Wire to access your camera so you can place video calls and send photos.</string>
</dict>
</plist>
