# This job will automatically create a cherry-pick PR for any update to the electron version on the dev branch.
# It allows the staging and main branch to stay up-to-date with dependabot electron bumps on dev.
name: Cherry-pick Electron bumps

on:
  push:
    branches:
      - 'dev'

permissions:
  pull-requests: write
  contents: write

jobs:
  cherry_pick:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create PR to staging
        if: contains(github.event.head_commit.message, 'bump electron from')
        uses: gorillio/github-action-cherry-pick@master
        with:
          pr_branch: 'staging'
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}

      - name: Create PR to main
        if: contains(github.event.head_commit.message, 'tbump electron from')
        uses: gorillio/github-action-cherry-pick@master
        with:
          pr_branch: 'main'
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
