name: Download translations

on:
  push:
    branches: [dev]
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

concurrency:
  group: translations-${{ github.ref }}
  cancel-in-progress: true

jobs:
  download_translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download translations
        uses: crowdin/github-action@v1.20.4
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
          CROWDIN_PROJECT_ID: 342373
        with:
          upload_sources: true
          upload_translations: false
          download_translations: true
          skip_untranslated_files: false
          # Download translations with pushing to branch
          push_translations: true
          commit_message: 'chore: Update translations'
          localization_branch_name: 'chore/update-translations'
          create_pull_request: true
          pull_request_title: 'chore: Update translations'
          token: ${{secrets.WEBTEAM_CROWDIN_TOKEN}}
          source: '/electron/src/locale/en-US.json'
          translation: '/electron/src/locale/%locale%.json'
          base_path: '.'
