name: Label PR

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label:
    name: Label PR based on title
    runs-on: ubuntu-latest
    steps:
      # The settings for this action are in `.github/labeler.yml`.
      # See https://github.com/srvaroa/labeler.
      - uses: srvaroa/labeler@0a20eccb8c94a1ee0bed5f16859aece1c45c3e55
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
