name: Lint

on:
  push:
    branches: [main, dev, staging]
  pull_request:
    branches: [main, dev, staging]

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: 'yarn'

      - name: Install JS dependencies
        run: yarn --immutable

      - name: Lint
        run: yarn lint
